.container {
    width: 100%;
    background-color: #263138;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer {
        width: 80%;
        margin: 0 auto;
        min-height: 50vh;
        background-image: url("../images/Footer.png");
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        @media (max-width: 1400px) {
            width: 70%;
            background-position: 75%;
            background-size: 100% 100%;
        }

        @media (max-width: 795px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
            padding-bottom: 120px;
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 100px;
            margin-top: 50px;

            @media (max-width: 1400px) {
                margin-left: 10px;
            }

            @media (max-width: 1000px) {
                margin-top: 10px;
            }

            h1 {
                color: #fff;
                margin-bottom: 0;

                @media (max-width: 1400px) {
                    font-size: 20px;
                }

                @media (max-width: 1000px) {
                    font-size: 18px;
                }

                span {
                    color: #FFB281;
                }
            }

            p {
                color: #fff;
                margin-top: 2px;
                font-size: 12px;
                margin-bottom: 10px;
                font-weight: 600;

                @media (max-width: 1400px) {
                    font-size: 10px;
                }
            }

            .photos {

                img {
                    @media (max-width: 1400px) {
                        width: 80%;
                    }
                }
            }
        }

        .partner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 70px;
            margin-top: 50px;

            @media (max-width: 1000px) {
                margin-top: 10px;
            }

            @media (max-width: 795px) {
                margin-left: 30px;
            }


            h3 {
                color: #fff;
                margin-bottom: 0;

                @media (max-width: 1400px) {
                    font-size: 16px;
                }

                span {
                    margin-left: 5px;
                }
            }

            p {
                color: #8790A2;
                margin: 0;
                margin-bottom: 5px;


                @media (max-width: 1400px) {
                    font-size: 10px;
                    margin-top: 7px;
                }
            }
        }

        .menu {
            margin-left: 50px;
            margin-top: 50px;

            @media (max-width: 795px) {
                margin-left: 0;
                margin-right: 110px;
                margin-top: 0;
            }

            h3 {
                color: #fff;
                margin-bottom: 0;

                @media (max-width: 1400px) {
                    font-size: 16px;
                }

            }

            p {
                color: #8790A2;
                margin: 2px;

                @media (max-width: 1400px) {
                    font-size: 10px;
                    margin-top: 7px;
                }

            }
        }

        .join {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 100px;
            margin-top: 50px;

            @media (max-width: 795px) {
                // margin-left: 180px;
            }

            @media (max-width: 1000px) {
                margin-top: 10px;
            }

            h3 {
                color: #fff;

                @media (max-width: 1400px) {
                    font-size: 16px;
                }

            }

            p {
                width: 70%;
                color: #8790A2;

                @media (max-width: 1400px) {
                    font-size: 10px;
                }

            }

            .enterEmail {
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 20px;
                border: 1px solid #5C6BC0;
                padding: 10px 0;

                @media (max-width: 1400px) {
                    padding: 10px;
                }

                p {
                    color: #8E8E8E;
                    font-size: 12px;
                    margin-left: 15px;

                    @media (max-width: 1400px) {
                        font-size: 10px;
                    }

                }

                .Arrow {
                    transform: translateX(-10px);

                    @media (max-width: 1400px) {
                        width: 14px;
                        margin-left: 12px;
                    }

                    @media (max-width: 1000px) {
                        width: 11px;
                    }
                }
            }
        }
    }

    .Payment {
        height: 35px;
        transform: translateY(-50px);

        @media (max-width: 795px) {
            transform: translateY(-70px);
        }
    }

    .copyRights {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        h3 {
            color: #fff;
            margin-top: 0;
            font-size: 14px;
        }
    }
}