.container {
    width: 100%;
    background-color: #263138;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .whyOtoma {
        width: 80%;
        min-height: 80vh;
        background-image: url("../images/Part2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 750px) {
            background-size: 100% 550px;
            flex-direction: column;
        }

        @media (max-width: 1400px) {
            background-size: 100% 550px;
            flex-direction: column;
            justify-content: center;
        }

        img {
            width: 40%;
            min-height: 20vh;

            @media (max-width: 750px) {
                width: 70%;
                height: 10px;
            }

            @media (max-width: 1400px) {
                width: 80%;
                height: 15px;
            }
        }

        .description {
            width: 40%;
            min-height: 50vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            @media (max-width: 750px) {
                width: 80%;
                align-items: center;
            }

            @media (max-width: 1400px) {
                width: 90%;
                align-items: center;
            }

            h1 {
                width: 50%;
                margin: 0;
                color: #fff;

                @media (max-width: 750px) {
                    width: 80%;
                    align-items: center;
                    margin-bottom: 5px;
                }

                @media (max-width: 1400px) {
                    width: 90%;
                    text-align: center;
                    margin-bottom: 5px;
                }

                span {
                    color: #FFB281;
                }
            }

            p {
                color: #fff;
                opacity: 0.8;
                width: 80%;

                @media (max-width: 750px) {
                    font-size: 14px;
                }

                @media (max-width: 1400px) {
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            button {
                width: 170px;
                background-color: #8668F2;
                color: #fff;
                padding: 15px;
                border-radius: 20px;
                border: none;
                margin-right: 10px;
                font-weight: bold;

                @media (max-width: 750px) {
                    width: 120px;
                    font-size: 12px;
                }

                @media (max-width: 1400px) {
                    width: 150px;
                    font-size: 14px;
                }
            }
        }

    }

}